<form [formGroup]="form">
  <div class="form-group">
    <label for="">
      Old Password
    </label>
    <input formControlName="oldPassword" type="password" class="form-control">
    <div *ngIf="oldPassword.touched && !oldPassword.valid" class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">Old Password is Required</div>
      <div *ngIf="oldPassword.errors.invalidOldPassword">Old Password is Invalid</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">
      New Password
    </label>
    <input formControlName="newPassword" type="password" class="form-control">
    <div *ngIf="newPassword.touched && !newPassword.valid" class="alert alert-danger">
        <div *ngIf="newPassword.errors.required">New Password is Required</div>
      </div>
  </div>
  <div class="form-group">
    <label for="">
      Confirm Password
    </label>
    <input formControlName="confirmPassword" type="password" class="form-control">
    <div *ngIf="confirmPassword?.touched && !confirmPassword.valid" class="alert alert-danger">
        <div *ngIf="confirmPassword.errors.required">Confirm Password is Required</div>
      </div>
    <div *ngIf="confirmPassword.valid && !form.valid && form.errors.passwordShouldMatch" class="alert alert-danger">Password Does not Match</div>
  </div>
  <button class="btn btn-primary">Change Password</button>
</form>